<section class="advantages">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 advantages-content">
        <h3 class="title advantages__title title_white">
          Akita Inu Dogs
        </h3>
        <p class="descr advantages__descr descr_white">
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
          ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet
          rutrum faucibus dolor auctor.
        </p>

        <ul class="advantages__list">
          <li class="advantages__item">Fully responsive design</li>
          <li class="advantages__item">High quality code</li>
          <li class="advantages__item">Different headers & layout</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <div class="advantages-img">
          <img src="./img/phone.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
