<section id="cite" class="cite">
  <div class="row cite__row">
    <div class="col-lg-6 cite-content cite-content_mine">
      <div class="cite-data">Jan 4, 2016 | In culture</div>
      <h3 class="title cite__title">
        Akita Inu Dog
      </h3>
      <p class="descr cite__descr">
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum
        faucibus dolor auctor.
      </p>
      <p class="descr cite__descr">
        Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Sed posuere consectetur
      </p>
    </div>
    <div class="col-lg-6 cite-img">
      <img src="./img/cite-1.jpg" alt="">
    </div>
    <div class="col-lg-6"></div>
  </div>
  <div class="row cite__row">
    <div class="col-lg-6 cite-content cite-content_concrete">
      <div class="cite-data">Jan 4, 2016 | In culture</div>
      <h3 class="title cite__title">
        Akita Inu Dog
      </h3>
      <p class="descr cite__descr">
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum
        faucibus dolor auctor.
      </p>
      <p class="descr cite__descr">
        Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Sed posuere consectetur
      </p>
    </div>
    <div class="col-lg-6 cite-img">
      <img src="./img/cite-2.jpg" alt="">
    </div>
    <div class="col-lg-6"></div>
  </div>
</section>
