<section id="feauters" class="feauters">
  <span class="symbol symbol_astral">W</span>
  <div class="container feauters__container">
    <div class="row">
      <div class="col d-flex justify-content-center feauters__title">
        <h2 class="title title_white">
          We are an awesome agency
        </h2>
      </div>
    </div>
    <div class="row feauters__cards">
      <div class="col-md-6 col-lg-3 feauters__card">
        <div class="feauters__card-ico"><i class="fa-solid fa-pen-to-square"></i></div>
        <div class="feauters__card-title title title_white">Feauter one</div>
        <div class="feauters__card-descr descr descr_white">
          Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis
          lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit
          non mi porta gravida at eget metus.
        </div>
      </div>
      <div class="col-md-6 col-lg-3 feauters__card">
        <div class="feauters__card-ico"><i class="fa-solid fa-pen-to-square"></i></div>
        <div class="feauters__card-title title title_white">Feauter two</div>
        <div class="feauters__card-descr descr descr_white">
          Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis
          lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit
          non mi porta gravida at eget metus.
        </div>
      </div>
      <div class="col-md-6 col-lg-3 feauters__card">
        <div class="feauters__card-ico"><i class="fa-solid fa-magnifying-glass"></i></div>
        <div class="feauters__card-title title title_white">Feauter three</div>
        <div class="feauters__card-descr descr descr_white">
          Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis
          lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit
          non mi porta gravida at eget metus.
        </div>
      </div>
      <div class="col-md-6 col-lg-3 feauters__card">
        <div class="feauters__card-ico"><i class="fa-regular fa-comment"></i></div>
        <div class="feauters__card-title title title_white">Feauter four</div>
        <div class="feauters__card-descr descr descr_white">
          Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis
          lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit
          non mi porta gravida at eget metus.
        </div>
      </div>
    </div>
  </div>
</section>
