<header class="header">
  <div class="container header__container">
    <div class="row">
      <div class="col-4 col-md-2 col-xl-1 header__logo">
        <img src="./img/logo.png" alt="Creatives">
      </div>
      <div class="col-lg-10 col-xl-9">
        <nav class="nav header__nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#home">Home</a></li>
            <li class="nav__item"><a href="#feauters">Feauters</a></li>
            <li class="nav__item"><a href="#cite">Pages</a></li>
            <li class="nav__item"><a href="#blog">Extensions</a></li>
            <li class="nav__item"><a href="#team">Tutorials</a></li>
            <li class="nav__item"><a href="#contact">Contact us</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-2 social d-xl-block d-none">
        <ul class="social__list">
          <li class="social__item"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li class="social__item"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li class="social__item"><a href="#"><i class="fa-brands fa-skype"></i></a></li>
          <li class="social__item"><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
      </div>
      <span class="burger"></span>
    </div>
  </div>
</header>
