<section id="home" class="hero">
  <div class="container hero__container">
    <div class="row">
      <div class="col-12 hero__col">
        <h1 class="title title_white hero__title title_large">
          Creatives
        </h1>
      </div>
      <div class="col-12 hero__col">
        <h2 class="subtitle subtitle_spacing subtitle_medium subtitle_blue-chill hero__subtitle">
          Power by psdfreebies.com
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 hero__col hero__btn-text">
        <span class="btn-text btn-text_white">
          Scroll Down
        </span>
      </div>
      <div class="col-12 hero__col">
        <button class="btn-reset btn-scroll btn-scroll_white">
          <i class="fa-solid fa-angle-down"></i>
        </button>
      </div>
    </div>
  </div>
</section>
