<section class="notes">
  <div class="container">
    <ul class="row notes__list">
      <li class="notes__item col-12 col-lg-6">Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis
        lacus vel augue laoreet rutrum faucibus dolor auctor.
      </li>
      <li class="notes__item col-12 col-lg-6">
        Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis
        lacus vel augue laoreet rutrum faucibus dolor auctor.
      </li>
    </ul>
  </div>
</section>
