<section id="team" class="team">
  <span class="symbol symbol_alto">T</span>
  <div class="container">
    <div class="row">
      <div class="col title team__title text-center">
        Our Team
      </div>
    </div>
    <div class="row">
      <div class="col subtitle team__subtitle text-center">
        sales long tail influencer pitch release nitce market.
      </div>
    </div>
    <div class="row team-cards">
      <div class="col-sm-6 col-lg-3 team-card">
        <div class="team-card-img">
          <img src="./img/team-1.jpg" alt="">
        </div>
        <div class="team-card-info">
          <div class="team-card-name">John Snow</div>
          <div class="team-card-position">Ceo</div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 team-card">
          <div class="team-card-img">
            <img src="./img/team-2.jpg" alt="">
          </div>
          <div class="team-card-info">
            <div class="team-card-name">Lady Sansa</div>
            <div class="team-card-position">WebDesigner</div>
          </div>
      </div>
      <div class="col-sm-6 col-lg-3 team-card">
          <div class="team-card-img">
            <img src="./img/team-3.jpg" alt="">
          </div>
          <div class="team-card-info">
            <div class="team-card-name">David Smith</div>
            <div class="team-card-position">Photographer</div>
          </div>
      </div>
      <div class="col-sm-6 col-lg-3 team-card">
          <div class="team-card-img">
            <img src="./img/team-4.jpg" alt="">
          </div>
          <div class="team-card-info">
            <div class="team-card-name">Lady Sansa</div>
            <div class="team-card-position">Photographer</div>
          </div>
      </div>
    </div>
  </div>
</section>
